body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.markercluster-map { height: 90px }

.header{
  height: 250px;
  text-align: center;
}

#mapid{
  height: 500px
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.centered {
  flex: 0 0 120px;
}

.title {
  font-size: 66px;
  font-weight: bold;
}

